# Force les fichiers Python comme code détectable
*.py linguist-language=Python

# Exclure les fichiers HTML du calcul des langages GitHub
*.html linguist-detectable=false
*.htm linguist-detectable=false

# Python
*.py linguist-detectable=true

# Exclure HTML
*.html linguist-detectable=false
*.htm linguist-detectable=false

# Exclure LaTeX / TeX
*.tex linguist-detectable=false
*.latex linguist-detectable=false

# Exclure les fichiers Jupyter si présents
*.ipynb linguist-detectable=false

# Exclure CSS et JavaScript
*.css linguist-detectable=false
*.js linguist-detectable=false

# Exclure les fichiers de données
*.xlsx linguist-detectable=false
*.csv linguist-detectable=false
